php_value display_errors 1
php_value display_startup_errors 1

AddDefaultCharset UTF-8
Options -Indexes

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*) index.php?page=$1 [QSA,L]

